<{* $Id: xlang_word_file.html,v 1.9 2008/01/12 11:25:42 ohwada Exp $ *}>

<a href="<{$xoops_url}>/"><{$smarty.const._XLANG_HOME}></a> &gt;&gt; 
<a href="<{$xoops_url}>/modules/xlang/index.php">
<{$module_name_s}></a> &gt;&gt; 
<{if $dir_id > 0}>
  <a href="<{$xoops_url}>/modules/xlang/index.php?dir_id=<{$dir_id}>">
<{else}>
  <a href="<{$xoops_url}>/modules/xlang/index.php?dirname=<{$dirname_s}>">
<{/if}>
<{$dirname_s}></a> &gt;&gt; 
<{if $lang_id > 0}>
  <a href="<{$xoops_url}>/modules/xlang/index.php?lang_id=<{$lang_id}>">
<{else}>
  <a href="<{$xoops_url}>/modules/xlang/index.php?dirname=<{$dirname_s}>&amp;language=<{$language_s}>">
<{/if}>
<{$language_s}></a> &gt;&gt; 
<{if $file_id > 0}>
  <a href="<{$xoops_url}>/modules/xlang/file.php?id=<{$file_id}>">
<{else}>
  <a href="<{$xoops_url}>/modules/xlang/file.php?dirname=<{$dirname_s}>&amp;language=<{$language_s}>&amp;file=<{$file_s}>">
<{/if}>
<{$file_s}></a> &gt;&gt; 
<{$smarty.const._XLANG_WORD_EDIT}>
<{if $op_undefined }>
  &gt;&gt; 
  <{$smarty.const._XLANG_UNDEFINED_LIST}>
<{/if}>
<br />

<{if $is_module_admin }>
  <br />
  <a href="<{$xoops_url}>/modules/xlang/admin/index.php">
  <{$smarty.const._XLANG_ADMIN_CP}></a> &gt;&gt; 
  <a href="<{$xoops_url}>/modules/xlang/admin/index.php?dirname=<{$dirname_s}>">
  <{$dirname_s}></a> &gt;&gt; 
  <a href="<{$xoops_url}>/modules/xlang/admin/index.php?dirname=<{$dirname_s}>&amp;language=<{$language_s}>">
  <{$language_s}></a> &gt;&gt; 
  <a href="<{$xoops_url}>/modules/xlang/admin/file_manage.php?id=<{$file_id}>">
  <{$file_s}></a>
  <br />
<{/if}>

<h3><{$module_name_s}></h3>

<div style="text-align:center;">
<form name="xlang_search" action="<{$xoops_url}>/modules/xlang/search.php" method="get">
<input type="text" id="query" name="query" size="50" maxlength="255" value="" />
<select id="andor" name="andor" size="1">
<option value="AND" selected="selected" ><{$smarty.const._SR_ALL}></option>
<option value="OR"    ><{$smarty.const._SR_ANY}></option>
<option value="exact" ><$smarty.const._SR_EXACT}></option>
</select>
<input type="submit" value="<{$smarty.const._SR_SEARCH}>" />
</form>
</div><br />

<{* index begin *}>
<span style="background-color:#ffffe0; color:#000000; border:1px solid #808080; margin:3px; padding:3px;">
<{$smarty.const._XLANG_SHOW}>
</span>

<span style="background-color:#ffffe0; color:#000000; border:1px solid #808080; margin:3px; padding:3px;">
<{$smarty.const._XLANG_WORD_EDIT}>
</span>

<span style="background-color:#ffffe0; color:#000000; border:1px solid #808080; margin:3px; padding:3px;">
<a href="<{$xoops_url}>/modules/xlang/word.php?op=form_file&amp;dirname=<{$dirname_s}>&amp;language=<{$language_s}>&amp;file=<{$file_s}>">
<{$smarty.const._XLANG_WORD_LUMP_EDIT}>
</a></span>

<span style="background-color:#ffffe0; color:#000000; border:1px solid #808080; margin:3px; padding:3px;">
<{if $file_id > 0}>
  <a href="<{$xoops_url}>/modules/xlang/file.php?op=form&amp;id=<{$file_id}>">
<{else}>
  <a href="<{$xoops_url}>/modules/xlang/file.php?op=form&amp;dirname=<{$dirname_s}>&amp;language=<{$language_s}>&amp;file=<{$file_s}>" >
<{/if}>
<{$smarty.const._XLANG_UPDATE_FILE}>
</a></span>

<span style="background-color:#ffffe0; color:#000000; border:1px solid #808080; margin:3px; padding:3px;">
<{if $file_id > 0}>
  <a href="<{$xoops_url}>/modules/xlang/download.php?file_id=<{$file_id}>" target="_blank">
  <{$smarty.const._XLANG_DOWNLOAD_FILE}></a>
<{else}>
  <{$smarty.const._XLANG_DOWNLOAD_FILE}>
<{/if}>
</a></span>

<span style="background-color:#ffffe0; color:#000000; border:1px solid #808080; margin:3px; padding:3px;">
<a href="<{$xoops_url}>/modules/xlang/log.php?dirname=<{$dirname_s}>&amp;language=<{$language_s}>&amp;file=<{$file_s}>" target="_blank">
<{$smarty.const._XLANG_SHOW_LOG}>
</a></span>
<br />
<{* index end *}>

<{if $op_undefined }>
  <h4><{$smarty.const._XLANG_WORD_EDIT}> &gt;&gt; <{$smarty.const._XLANG_UNDEFINED_LIST}></h4>
<{else}>
  <h4><{$smarty.const._XLANG_WORD_EDIT}></h4>
<{/if}>

<{if $token_error }>
  <div class="errorMsg">Token Error</div><br />
<{/if}>

<{if $param_error }>
  <div class="errorMsg"><{$param_error}></div><br />
<{/if}>

<{if $language_image_s}>
  <img src="<{$xoops_url}>/modules/xlang/images/flag/<{$language_image_s}>" /> 
<{/if}>
<{$language_s}> &gt;&gt; 
<b><{$file_s}></b> <br /><br />

<{* -- language select table begin -- *}>
<table border="0" width="200px">
<tr>

<{if $show_cont_select }>
  <td width="100px">
  <{$smarty.const._XLANG_SELECT_LANGUAGE}><br />

<{* -- contrast select form begin -- *}>
  <form name="xlang_contrast" action="<{$xoops_url}>/modules/xlang/word.php" method="get" >
  <input type="hidden" name="op"       value="form_file" />
  <input type="hidden" name="dirname"  value="<{$dirname_s}>" />
  <input type="hidden" name="language" value="<{$language_s}>" />
  <input type="hidden" name="file"     value="<{$file_s}>" />
  <select name="contrast" size="5">

<{* -- contrast select begin -- *}>
  <{section name="name_cont" loop=$cont_options}>
    <{assign var="cont_value" value=$cont_options[name_cont] }>
    <{if $cont_value == $cont.language }>
      <option value="<{$cont_value}>" selected="selected" >
    <{else}>
      <option value="<{$cont_value}>" >
    <{/if}>
    <{$cont_value|capitalize}></option >
  <{/section}>
<{* -- contrast select end -- *}>

  </select><br />
  <input type="submit" value="<{$smarty.const._XLANG_SELECT}>" />
  </form>
<{* -- contrast select form end -- *}>

  </td>
<{/if}>

<{if $show_new_select }>
  <td width="100px">
  <{$smarty.const._XLANG_ADD_LANGUAGE}><br />

<{* -- language select form begin -- *}>
  <form name="xlang_new_language" action="<{$xoops_url}>/modules/xlang/word.php" method="get" >
  <input type="hidden" name="op"       value="form_file" />
  <input type="hidden" name="dirname"  value="<{$dirname_s}>" />
  <input type="hidden" name="file"     value="<{$file_s}>" />
  <select name="language" size="5">

<{* -- language select begin -- *}>
  <{section name="name_new" loop=$new_options}>
    <{assign var="new_value" value=$new_options[name_new] }>
    <option value="<{$new_value}>" ><{$new_value|capitalize}></option >
  <{/section}>
<{* -- language select end -- *}>

  </select><br />
  <input type="submit" value="<{$smarty.const._XLANG_SELECT}>" />
  </form>
<{* -- language select form end -- *}>

  </td>
<{/if}>

</tr>
</table>
<br />
<{* -- language select table end -- *}>

<{if $orig_error }>
  <div style="color:#ff0000;"><{$orig_error}></div><br />
<{/if}>

<{if $cont_error }>
  <div style="color:#ff0000;"><{$cont_error}></div><br />
<{/if}>

<{if $show_update }>
  <div style="color:#0000ff; font-weight:bold;">
  <{$smarty.const._XLANG_UPDATED_WORDS}>
  </div><br />
<{/if}>

<{$smarty.const._XLANG_WORD_LATEST}> : 
<{if $word_latest.id > 0}>
  <a href="<{$xoops_url}>/modules/xlang/word.php?op=form_word&amp;id=<{$word_latest.id}>">
  <{$word_latest.word_s}></a>
<{else}>
  <{$word_latest.word_s}>
<{/if}> 
<{if $word_latest.time > 0}>
  <{$word_latest.time|formatTimestamp}>
<{else}>
  ---
<{/if}>
<br />

<{$smarty.const._XLANG_FILE_DATE}> : 
<{if $file_time > 0}>
  <{$file_time|formatTimestamp}>
<{else}>
  ---
<{/if}>
<br />

<{$smarty.const._XLANG_LOG_DATE}> : 
<{if $log_time > 0}>
  <{$log_time|formatTimestamp}>
<{else}>
  ---
<{/if}>
<br /><br />

<{if $show_undefined }>
  <a href="<{$xoops_url}>/modules/xlang/word.php?op=undefined&amp;dirname=<{$dirname_s}>&amp;language=<{$language_s}>&amp;file=<{$file_s}>&amp;contrast=<{$cont_language_s}>">
  <span style="color: #ff0000; font-weight: bold;">
  <{$smarty.const._XLANG_UNDEFINED_LIST}>
  </span></a><br />
  <ul>

<{* -- undefined list begin -- *}>
  <{foreach item=list from=$undefined_list}>
    <{assign var="word_un" value=$list[0] }>
    <li>
    <a href="<{$xoops_url}>/modules/xlang/word.php?op=form_word&amp;dirname=<{$dirname_s}>&amp;language=<{$language_s}>&amp;file=<{$file_s}>&amp;word=<{$word_un}>&amp;contrast=<{$cont_language_s}>">
    <{$word_un}></a>
    </li>
  <{/foreach}>
<{* -- undefined list end -- *}>

</ul><br />
<{/if}>

<{$there_are}><br /><br />
<{$start}> -> <{$end}> lines <br /><br />

<{* -- edit form begin -- *}>
<form name="xlang_edit_form" action="<{$xoops_url}>/modules/xlang/word.php" method="post" >
<input type="hidden" name="XOOPS_G_TICKET" value="<{$token}>" />
<input type="hidden" name="op" value="edit_word_all" />
<input type="hidden" name="dirname"  value="<{$dirname_s}>" />
<input type="hidden" name="language" value="<{$language_s}>" />
<input type="hidden" name="file"     value="<{$file_s}>" />
<input type="hidden" name="contrast" value="<{$cont_language_s}>" />

<{* -- edit table begin -- *}>
<table class="outer" width="100%" cellpadding="4" cellspacing="1">
<tr align="center">
<th>
  <input type="checkbox" name="xlang_edit_form_checkall" id="xlang_edit_form_checkall" onclick="xoopsCheckAll( 'xlang_edit_form', 'xlang_edit_form_checkall' )" />
</th>
<th><{$smarty.const._XLANG_WORD}></th>
<th>
  <{if $orig_image_s}>
    <img src="<{$xoops_url}>/modules/xlang/images/flag/<{$orig_image_s}>" />
  <{/if}>
  <{$orig_language_s|capitalize}>
</th>

<{if $show_contrast}>
  <th>
    <{if $cont_image_s}>
      <img src="<{$xoops_url}>/modules/xlang/images/flag/<{$cont_image_s}>" />
    <{/if}>
    <{$cont_language_s|capitalize}>
  </th>
<{/if}>

</tr>

<{* -- word list begin -- *}>
<{foreach item=list from=$word_list}>
  <{assign var="word_s" value=$list.comm.word_s }>

  <{if $list.comm.act }>
    <tr class="<{cycle values="even,odd"}>">
  <{else}>
    <tr class="head">
  <{/if}>

  <td>
    <{if $list.comm.act }>
      <input type="checkbox" name="xlang_edit_form_id[]" id="xlang_edit_form_id[]" value="<{$list.comm.id}>" />
    <{else}>
      <{$smarty.const._XLANG_NO_USE}>
    <{/if}>
  </td><td>
    <{if $list.orig.id > 0 }>
      <a href="<{$xoops_url}>/modules/xlang/word.php?op=form_word&amp;id=<{$list.orig.id}>&amp;contrast=<{$cont_language_s}>">
    <{else}>
      <a href="<{$xoops_url}>/modules/xlang/word.php?op=form_word&amp;dirname=<{$dirname_s}>&amp;language=<{$orig_language_s}>&amp;file=<{$file_s}>&amp;word=<{$word_s}>&amp;contrast=<{$cont_language_s}>">
    <{/if}>
    <{$word_s}></a>
  </td><td>
    <textarea name="content[<{$list.orig.id}>]" ><{$list.orig.content_s}></textarea>
    <br />
    <{if $list.orig.undefined}>
      <span style="color:#ff0000;"><{$smarty.const._XLANG_UNDEFINED}></span><br />
    <{/if}>
    <input type="hidden" name="word[<{$list.orig.id}>]" value="<{$word_s}>" />
    <input type="hidden" name="lang[<{$list.orig.id}>]" value="<{$orig_language_s}>" />
  </td>

  <{if $show_contrast}>
    <td>
      <textarea name="content[<{$list.cont.id}>]" ><{$list.cont.content_s}></textarea>
      <br />
      <{if $list.cont.undefined}>
        <span style="color:#ff0000;"><{$smarty.const._XLANG_UNDEFINED}></span><br />
      <{/if}>
      <input type="hidden" name="word[<{$list.cont.id}>]" value="<{$word_s}>" />
      <input type="hidden" name="lang[<{$list.cont.id}>]" value="<{$cont_language_s}>" />
    </td>
  <{/if}>

  </tr>
<{/foreach}>
<{* -- word list end -- *}>

<tr class="head">
<td></td>
<td></td>
<td>
  <a href="<{$xoops_url}>/modules/xlang/file.php?op=form&amp;dirname=<{$dirname_s}>&amp;language=<{$orig_language_s}>&amp;file=<{$file_s}>" >
  - <{$smarty.const._XLANG_UPDATE_FILE}> </a><br />
  <a href="<{$xoops_url}>/modules/xlang/download.php?dirname=<{$dirname_s}>&amp;language=<{$orig_language_s}>&amp;file=<{$file_s}>" target="_blank" >
  - <{$smarty.const._XLANG_DOWNLOAD_FILE}> </a><br />
  <a href="<{$xoops_url}>/modules/xlang/log.php?dirname=<{$dirname_s}>&amp;language=<{$orig_language_s}>&amp;file=<{$file_s}>" target="_blank" >
  - <{$smarty.const._XLANG_SHOW_LOG}> </a><br />
</td>

<{if $show_contrast}>
  <td>
    <a href="<{$xoops_url}>/modules/xlang/file.php?op=form&amp;dirname=<{$dirname_s}>&amp;language=<{$cont_language_s}>&amp;file=<{$file_s}>" >
    - <{$smarty.const._XLANG_UPDATE_FILE}> </a><br />
    <a href="<{$xoops_url}>/modules/xlang/download.php?dirname=<{$dirname_s}>&amp;language=<{$cont_language_s}>&amp;file=<{$file_s}>" target="_blank" >
    - <{$smarty.const._XLANG_DOWNLOAD_FILE}> </a><br />
    <a href="<{$xoops_url}>/modules/xlang/log.php?dirname=<{$dirname_s}>&amp;language=<{$cont_language_s}>&amp;file=<{$file_s}>" target="_blank" >
    - <{$smarty.const._XLANG_SHOW_LOG}> </a><br />
  </td>
<{/if}>

</tr>
<tr class="head">
<td colspan="2">
  <input type="submit" name="edit_no_use" value="<{$smarty.const._XLANG_SET_NO_USE}>" />
</td>

<{if $show_contrast}>
  <td colspan="2">
<{else}>
  <td colspan="1">
<{/if}>

  <input type="submit" name="submit" value="<{$smarty.const._EDIT}>" />
</td>
</tr>
</table>
<{* -- edit table end -- *}>

</form><br />
<{* -- edit form begin -- *}>

<{if $page_navi }>
  <div align="center">
  <form name="xlang_navi_form" action="<{$xoops_url}>/modules/xlang/word.php" method="get" >
  <input type="hidden" name="op" value="form_file" />
  <input type="hidden" name="dirname"  value="<{$dirname_s}>" />
  <input type="hidden" name="language" value="<{$language_s}>" />
  <input type="hidden" name="file"     value="<{$file_s}>" />
  <{$smarty.const._XLANG_PER_PAGE}> 
  <input type="text" name="limit" id="limit" value="<{$limit}>"  />
  <input type="submit" name="sumit" value="<{$smarty.const._XLANG_SET}>" />
  </form>
  </div><br />

  <div align="center"><{$page_navi}></div><br />
<{/if}>

<br />
<hr />

<div style="font-size:80%;">
execution time : <{$execution_time}> sec <br />
<{if $is_module_admin }>
  <{if $memory_usage > 0}>
    memory usage : <{$memory_usage}> MB <br />
  <{/if}>
  <br />
    <a href="<{$xoops_url}>/modules/xlang/admin/index.php">
    <{$smarty.const._XLANG_GOTO_ADMIN_CP}></a><br />
<{/if}>
</div>
